color-black = #555555
color-black-light = #888888
color-red = #ce8888
color-red-light = #ce9999
color-red-lighter = #efb5b5
color-yellow = #f1f1ca
color-orange = #fce0b3
color-green = #cce4cc
color-blue = #7777ce
color-blue-light = #9999ce
color-blue-lighter = #bbbbce
color-white = rgba(230, 230, 230, 1)
color-white-light = rgba(240, 240, 240, 1)
color-white-lighter = rgba(250, 250, 250, 1)
font-small = .8rem
font-normal = .95rem
font-big = 1.1rem