input, label, button
  height auto !important
  padding 10px 10px
  cursor pointer
  border-radius 2px

input
  background color-white-light
  color color-purple

div.inputWrapper
  margin 5px 0

label.hiddenRadio
  display inline-block
  font-size font-normal
  transition background ease .3s

label.hiddenRadio:hover
  background alpha(color-purple, .4)

label.hiddenRadio:active
  background alpha(color-purple, .7)

input[type="radio"]:checked + label.hiddenRadio
  background color-purple
  color color-white-lighter

.optional
  opacity 0
  &.active
    opacity 1
