// Default input style

form
  display flex
  flex-flow column nowrap

input, label
  height auto !important
  padding 5px

input
  background color-white-light

div.inputWrapper 
  font-size 0

label.hiddenRadio
  display inline-block
  font-size font-normal

input[type="radio"]:checked + label.hiddenRadio
  background color-blue-light
  color color-white-lighter