@require "default/config.styl"
@require "default/input.styl"
@require "room.styl"

body
  width 100vw
  color color-black
  fill color-black
  background color-white
  font-family 'Roboto', sans-serif
  font-size font-normal
