@require "default/config.styl"
@require "default/class.styl"
@require "default/input.styl"
@require "musicIO.styl"
@require "responsive.styl"

body
  width 100vw
  color color-white-light
  fill color-white-light
  stroke color-white-light
  background color-black
  font-family 'IBM Plex Sans', sans-serif
  font-size font-normal
