@media (max-width 720px)

  input, label, button
    padding 10px

  .inputWrapper
    margin 5px 0

  .musicIOApp

    .home .container
      box-shadow none
      height 100vh
      display flex
      flex-flow column nowrap
      justify-content center

.noMobile
  display none !important

@media only screen and (min-device-width : 720px)
  .mobile
    display none !important

  .noMobile
    display block !important
