.noselect
  user-select none
  -moz-user-select none
  -webkit-user-select none
  -ms-user-select none

.select
  user-select auto
  -moz-user-select auto
  -webkit-user-select auto
  -ms-user-select auto

svg
  width inherit
  height inherit
