input, label, button
  height auto !important
  padding 10px 20px
  cursor pointer
  border-radius 2px

input
  background alpha(color-white-light, .85)
  transition background .3s ease
  color color-purple

  &:focus, &:hover
    background color-white-light

.inputWrapper
  margin 5px 10%
  text-align center
  position relative

label.hiddenRadio
  display inline-block
  font-size font-normal
  transition background .3s cubic-bezier(.25,.1,.5,1.5)

label.hiddenRadio:hover
  background alpha(color-purple, .4)

label.hiddenRadio:active
  background alpha(color-purple, .7)

input[type="radio"]:checked + label.hiddenRadio
  background color-purple
  color color-white-lighter

.optional
  opacity 0
  transition opacity .3s
  will-change opacity

  &.active
    opacity 1
